body {
  display: grid;
  margin: 0;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  justify-content: center;
  justify-items: center;
  background-color: #c6d8ff;
}
.about-subheading {
  color: #71a9f7;
  text-align: center;
  -webkit-text-stroke-color: #6b5ca5;
  -webkit-text-stroke-width: 0.05em;
  font-size: 3vh;
  font-family: monospace;
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row-start: 2;
  grid-row-end: 3;
  max-width: 40vh;
}
.large-logo {
  height: 40vh;
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 2;
}
.body-nav {
  text-align: center;
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row-start: 3;
}
.body-nav a {
  display: block;
  padding: 2vh;
  border-radius: 3vh;
  border: 0.5vh solid #6b5ca5;
  background-color: #71a9f7;
  text-decoration: none;
  font-family: monospace;
  font-size: 3vh;
  color: #6b5ca5;
  -webkit-text-stroke-color: #72195a;
  -webkit-text-stroke-width: 0.05em;
  max-width: 20vw;
  margin: 3vh;
}
form {
  display: inline-block;
  font-family: monospace;
  font-size: 3vh;
  color: #71a9f7;
  -webkit-text-stroke-color: #6b5ca5;
  -webkit-text-stroke-width: 0.05em;
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row-start: 3;
  max-width: 30vw;
}
form input {
  display: block;
  font-family: monospace;
  font-size: 3vh;
  color: black;
  -webkit-text-stroke-color: none;
  -webkit-text-stroke-width: 0;
  margin: 0.5vh 3vh 3vh 0.5vh;
}
form #open {
  width: 2vh;
  height: 2vh;
}

.header-bar {
  display: inline;
  grid-row-start: 1;
  grid-column-start: 1;
  grid-column-end: 5;
  width: 100vw;
  margin: 0;
  background-color: rgba(0, 0, 0, 0.2);
}

.logo-small {
  width: 10vw;
}
.event-title {
  font-size: 4vw;
  max-width: 40vw;
  text-align: center;
  font-family: monospace;
  display: inline-block;
  grid-row-start: 2;
  grid-column-start: 2;
  grid-column-end: 4;
  color: #6b5ca5;
  -webkit-text-stroke-color: #72195a;
  -webkit-text-stroke-width: 0.05em;
}
.event-search{
  grid-row-start: 3;
  align-content: center;
}
.filterbtnO{
  
  background-color: rgba(0, 0, 0, 0);
  border: none;
  padding:none;
}
.filterbtnI{
  height: 3vh;
}
#search{
height: 3vh;

}
.sign-up-link{
  display: inline-block;
  font-family: monospace;
  font-size: 2vh;
  color: #71a9f7;
  -webkit-text-stroke-color: #6b5ca5;
  -webkit-text-stroke-width: 0.05em;
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row-start: 4;
  max-width: 30vw;
}
#event-container{
  grid-row-start: 4;
  grid-column-start: 1;
  grid-column-end: 5;
  row-gap: 5vh;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  justify-items: center;
  width: 80vw;
}

.event-listing{
  background-color: white;
  color: black;
  display:grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  align-items: center;
  justify-items: center;
  column-gap: 0;
  row-gap: 0;
  width:30vw;
  -webkit-text-stroke-width: 0.025em;
  border-radius: 20px;
  border: solid 5px #71A9F7;
  font-size: 1.5vw;
  font-family: monospace;
  font-weight: 650;
  padding: 1vw;
}
.event-listing p{
  margin: 1vh;
}
.game-name{
scale:75%;
-webkit-text-stroke-width: calc(0.025em*0.75);
grid-row-start: 1;
grid-column-start: 2;
}
.event-name{
  text-decoration: none;
  color: inherit;
  scale: 110%;
  margin: 0.5vh;
  grid-row-start: 1;
  grid-column-start: 1;
}
.event-time{
  -webkit-text-stroke-width: calc(0.025em*0.60);
  scale: 65%;
  grid-row-start: 2;
  grid-column-start: 1;
}
.event-location{
  -webkit-text-stroke-width: calc(0.025em*0.65);
  scale:65%;
  grid-row-start: 2;
  grid-column-start: 2;
}
.event-desc{
  -webkit-text-stroke-width: calc(0.025em*0.8);
  scale:80%;
  grid-row-start: 3;
  grid-column-start: 1;
  grid-column-end: 2;
}
#user-container{
  scale: 75%;
  grid-row-start: 4;
  grid-column-start: 1;
  grid-column-end: 5;
  row-gap: 0.5vh;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
  justify-items: center;
  width: 80vw;
}
.user-pic{
  max-width: 20vw;
  margin: 0.5vw;
  grid-row-start: 3;
  grid-column-start: 2;
}
.user-name{
  
  margin: 0.5vh;
  grid-row-start: 1;
  grid-column-start: 2;
  font-size: 4vw;
  max-width: 40vw;
  font-family: monospace;
  color: #6b5ca5;
  -webkit-text-stroke-color: #72195a;
  -webkit-text-stroke-width: 0.05em;

}
.user-bio{
  width:45vw;
  margin: 0.5vh;
  grid-row-start: 4;
  grid-column-start: 1;
  grid-column-end: 4;
  font-family: monospace;
  font-size: 2vw;
  color: #71a9f7;
  -webkit-text-stroke-color: #6b5ca5;
  -webkit-text-stroke-width: 0.05em;
  border:#6b5ca5 solid 5px;
  border-radius: 5px;
  padding:2vh
}
.user-created{
  margin: 0.5vh;
  grid-row-start: 2;
  grid-column-start: 1;
  grid-column-end: 4;
  font-family: monospace;
  font-size: 1.5vw;
  color: #71a9f7;
  -webkit-text-stroke-color: #6b5ca5;
  -webkit-text-stroke-width: 0.05em;
}